name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release:
    name: GitHub
    runs-on: ubuntu-24.04

    outputs:
      new-release-published: ${{ steps.release.outputs.new-release-published }}
      new-release-version: ${{ steps.release.outputs.new-release-version }}

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Create a GitHub Release
        id: release
        uses: craigsloggett/create-github-release@8f6778fe37653fbf70d66547c44a6957399bcc6e # v1.0.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
